<option-input>
  <div id="mensagem"></div>
  <hr />
  <form hx-post="/novoJogo" hx-target="#mensagem" hx-swap="beforeend">
    <input type="text" name="nome" placeholder="Nome do Jogo" required />
    <input type="text" name="descricao" placeholder="Descrição" />
    <select class="select" name="plataforma_id" required>
      {% if plataformas|length == 0 %}
      <option value="" disabled selected>
        Adicione uma plataforma primeiro
      </option>
      {% else %}
      <option value="" disabled selected>Selecione a plataforma</option>
      {% for plataforma in plataformas %}
      <option value="{{ plataforma.id }}">{{ plataforma.nome }}</option>
      {% endfor %} {% endif %}
    </select>
    <input
      type="number"
      name="nota"
      placeholder="Nota (0-100)"
      min="0"
      max="100"
    />
    <button type="submit">Salvar</button>
  </form>

  <div class="flex-h">
    <form hx-delete="/deletaJogo" hx-target="#mensagem" hx-swap="beforeend">
      <input type="number" name="id" placeholder="ID do jogo" required />
      <button type="submit">Deletar jogo</button>
    </form>
    <button
      class="ml-sm flex-h"
      hx-delete="/deletaTudo"
      hx-target="#mensagem"
      hx-swap="beforeend"
    >
      Deletar&nbsp;<span style="color: red">TODOS</span>&nbsp;os jogos
    </button>
  </div>
  <form hx-put="/atualizaJogo" hx-target="#mensagem" hx-swap="beforeend">
    <input type="number" name="id" placeholder="ID do jogo" required />
    <input type="text" name="nome" placeholder="Novo nome" />
    <input type="text" name="descricao" placeholder="Nova descrição" />
    <select class="select" name="plataforma_id">
      <option value="" disabled selected>Selecione a nova plataforma</option>
      {% for plataforma in plataformas %}
      <option value="{{ plataforma.id }}">{{ plataforma.nome }}</option>
      {% endfor %}
    </select>
    <input
      type="number"
      name="nota"
      placeholder="Nova nota"
      min="0"
      max="100"
    />
    <button type="submit">Atualizar jogo</button>
  </form>
</option-input>
