<search-box>
  <input
    type="text"
    name="busca"
    placeholder="Buscar..."
    hx-get="/plataformas"
    hx-trigger="input changed delay:500ms"
    hx-select="#plataforma-list"
    hx-target="#plataforma-list"
    hx-indicator="#indicator"
  />
  <span id="indicator" class="htmx-indicator">Carregando...</span>
</search-box>

<div id="plataforma-list">
  <div id="plataforma-card-container" class="flex-h">
    {% for plataforma in plataformas %}
    <div id="plataforma-card-{{ plataforma.id }}" class="flex-1 flex-v">
      <h2>{{ plataforma.nome }} - ID: {{plataforma.id}}</h2>
      {% if plataforma.jogos|length > 0 %}
      <h3>Jogos disponíveis:</h3>
      <ul>
        {% for jogo in plataforma.jogos %}
        <li>{{ jogo.nome }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <p>Nenhum jogo disponível</p>
      {% endif %}
    </div>
    {% else %}
    <p>Não há plataformas cadastradas</p>
    {% endfor %}
  </div>
</div>
